<form role="form" class="form-horizontal" name="reconcileForm" novalidate>
  <div class="row">

    <div  class="col-md-6 scroll-container">
      <span style="font-size:small">Checks and Payments </span>
      <table mat-table [dataSource]="dataSource1" multiTemplateDataRows>
        <ng-container matColumnDef="clr">
          <th mat-header-cell *matHeaderCellDef>
            <input style="accent-color: #78909c "
                   
                   type="checkbox"
                   name="toggleChecks"
                   #toggleChecks="ngModel"
                   [(ngModel)]="selectAllChecks"
                   (change)="$event ? toggleAllRows('checks') : null">


          </th>
          <td mat-cell *matCellDef="let element;let i= index">
            <mat-checkbox name="clr1"
          [ngModelOptions]="{standalone: true}" 
          [(ngModel)]="element.clr"
          (change)="calculateBalances()">


  </mat-checkbox>
          

</ng-container>
        <ng-container matColumnDef="date">

          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.transDate|date:'MM/dd/YYYY'}} </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef> Number </th>
          <td mat-cell *matCellDef="let element">
            {{element.refNumber}}
          </td>
        </ng-container>

        <ng-container matColumnDef="payee">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Payee </th>
          <td mat-cell *matCellDef="let element" [attr.colspan]="2"> {{element.payeeName}} </td>
        </ng-container>

        <ng-container matColumnDef="debit">
          <th mat-header-cell *matHeaderCellDef> Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.debit|currency:'USD'}} </td>
        </ng-container>

        <tr mat-header-row class="tablerow" *matHeaderRowDef="columnsToDisplay;sticky:true"></tr>

        <tr mat-row (dblclick)=" edit($event,element)" *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row tablerow">
        </tr>

      </table>
    </div>
    <div  class="col-md-6 scroll-container">
      <span style="font-size:small">Deposites and Credits</span>
      <table mat-table [dataSource]="dataSource2" multiTemplateDataRows>
        <ng-container matColumnDef="clr">
          <th mat-header-cell *matHeaderCellDef>
            <input style="accent-color: #78909c "
                   type="checkbox"
                   name="toggleDeposite"
                   #toggleDeposite="ngModel"
                   [(ngModel)]="selectAllDeposites"
                   (change)="$event ? toggleAllRows('deposites') : null">
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox name="clr1" #clr1="ngModel"

                          [(ngModel)]="element.clr"
                          [checked]=element.clr
                          (change)="calculateBalances()">
            </mat-checkbox>

          </td>
        </ng-container>
        <ng-container matColumnDef="date">

          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.transDate|date:'MM/dd/YYYY'}} </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef> Number </th>
          <td mat-cell *matCellDef="let element">
            {{element.refNumber}}
          </td>
        </ng-container>

        <ng-container matColumnDef="payee">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Payee </th>
          <td mat-cell *matCellDef="let element" [attr.colspan]="2"> {{element.payeeName}} </td>
        </ng-container>

        <ng-container matColumnDef="debit">
          <th mat-header-cell *matHeaderCellDef> Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.credit|currency:'USD'}} </td>
        </ng-container>

        <tr mat-header-row class="tablerow" *matHeaderRowDef="columnsToDisplay;sticky:true"></tr>
        contextmenu
        <tr mat-row (dblclick)=" edit($event,element)" *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row tablerow">
        </tr>

      </table>
    </div>

    <div  class="col-md-12 balanceinfo">
      <div class="row">
        <div  class="col-md-6">
          <div class="balanceRow">
            <label  class="col-sm-7 ">Beginning Balance </label>
            <div style="display: inline-block;" class="col-sm-5">
              {{reconcileInformation.reconciledBalance|currency}}
            </div>
          </div>
          <div class="balanceRow" >
            <label class="col-sm-4" > Items marked cleared </label>
          </div>

          <div class="balanceRow" style="margin-left:10px">
            <label  class="col-sm-7 "> {{balances.depositesCleared}} Deposites and Other Credits </label>
            <div style="display: inline-block;" class="col-sm-5">
              {{balances.depositesAmt|currency}}
            </div>

          </div>

          <div class="balanceRow" style="margin-left:10px">
            <label class="col-sm-7 ">  {{balances.checksCleared}} Checks and Payments </label>
            <div style="display: inline-block;" class="col-sm-5">
              {{balances.checksClearedAmt|currency}}
            </div>

          </div>
         
        </div>

        <div style="float:right" class="col-md-6">
          <div style="border:solid 1px">
            <div class="row">
              <div class="col-sm-2">
                <button (click)="setBalances()" class="modifyBtn">Modify</button>
              </div>

              <div style="float:right" class="col-sm-10">
                <div class="balanceRow">
                  <label class="col-sm-4">Service Charge </label>
                  <div class="col-sm-3 balanceData">
                    {{reconcileInformation.seviceCharge|currency}}
                  </div>
                </div>
                <div class="balanceRow">
                  <label class="col-sm-4 ">Interest Earned </label>
                  <div class="col-sm-3 balanceData">
                    {{reconcileInformation.interestCharge|currency}}
                  </div>
                </div>
                <div class="balanceRow">
                  <label class="col-sm-4 ">Ending Balance </label>
                  <div class="col-sm-3 balanceData">
                    {{reconcileInformation.endingBalance |currency}}
                  </div>
                </div>
                <div class="balanceRow">
                  <label class="col-sm-4 "> Cleared Balance </label>
                  <div class="col-sm-3 balanceData">
                    {{balances.clearedBalance  |currency}}
                  </div>
                </div>
                <div class="balanceRow">
                  <label class="col-sm-4 "> Difference </label>
                  <div class="col-sm-3 balanceData">
                    {{balances.difference | currency}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align:right">
            <button (click)="setReconciled()" class="reconcileBtn w-25">Reconcile Now</button>
            <button (click)="setCleared()" class="modifyBtn w-25">Leave</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
