
table {
  width: 100%;
}
.mat-table {
  border: 3px groove;
}

.mat-row {
  height: 20px !important;
}

.tablerow {
  height: 20px !important;
}
.mat-header-cell {
  background-color: #1A237E;
  color: white;
  font-size: 13px;
  height: 25px;
}

.mat-column-clr {
  width: 15px;
  border-right: 1px solid;
  border-right-color: gray;
  padding-right: 10px;

  text-align: center;
}


.mat-column-date {
  width: 30px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-right-color: gray;
  padding-left:2px;
  padding-right:2px;
  text-align: center;
}

.mat-column-number {
  width: 15px;
  border-right: 1px solid;
  border-right-color: gray;
  /*padding-right: 24px;*/
  text-align: center;
}

.mat-column-payee {
  width: 15px;
  border-right: 1px solid;
  border-right-color: gray;
  padding-right: 2px;
  padding-left: 2px;
  text-align:  center;
}
.mat-column-debit {
  width: 15px;
  border-right: 1px solid;
  border-right-color: gray;
  padding-right: 2px;
  padding-left: 2px;
  text-align: center;
}
mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 13px;
  height: 13px;
}
.scroll-container {
 background-color:whitesmoke;
  height: 600px;
  max-width: 100%;
  overflow: auto;
  border:solid 1px;
}
.mat-row:nth-child(even) {
  background-color:lavender;
}

.mat-row:nth-child(odd) {
  background-color:whitesmoke;
}
.balanceinfo {
  background-color: whitesmoke;
  border: solid 1px;
  padding-top: 15px;
  font-size: small;
}


::ng-deep .mat-checkbox.mat-accent{

    checkbox-unselected-icon-color:white;
}
.balanceRow{
    height:23px;
    
}
.balanceData {
  display: inline-block;
  text-align:right;
}
.modifyBtn {
  border-radius: 4px;
  margin: 5px;
  background-color: #78909c;
  color: white;
}
.reconcileBtn {
  border-radius: 4px;
  background-color:#1A237E;
  color: white;
  margin:5px;
}
