
<form role="form" class="form-horizontal" name="modifyNameForm" #modifyNameForm="ngForm" novalidate>

  <div *ngIf="loaded">
   
    <div class="col-md-7">
      <h3>{{title}}</h3>
      <hr />


      <mat-form-field class="col-md-9" appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Name"
               [(ngModel)]="otherName.fullName"
               name="name"
               #name="ngModel"
               required>
        <mat-error *ngIf="!name.pristine && name.errors?.required">Value is required</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="col-md-9" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name"
               [(ngModel)]="otherName.firstName"
               name="firstName"
               #firstName="ngModel">

      </mat-form-field>
      <br />
      <mat-form-field class="col-md-9" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Name"
               [(ngModel)]="otherName.lastName"
               name="lastName"
               #lastName="ngModel">
      </mat-form-field>
      <br />
      <mat-form-field class="col-md-9" appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Name"
               [(ngModel)]="otherName.phoneNumber"
               name="phoneNumber"
               #phoneNumber="ngModel">

      </mat-form-field>
      <br />
      <mat-form-field class="col-md-9" appearance="outline">
        <mat-label>MobilePhone</mat-label>
        <input matInput placeholder="Name"
               [(ngModel)]="otherName.mobilePhone"
               name="mobilePhone"
               #mobilePhone="ngModel">

      </mat-form-field>
      <br />

      <mat-form-field class="col-md-9" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Description" [(ngModel)]="otherName.emailAddress" name="email" #email="ngModel">
      </mat-form-field>
      <br />

      <mat-checkbox name="clr1"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="otherName.inActive">


      </mat-checkbox>
      InActive
    </div>
    </div>

  <hr />
  <div>
    <button style="margin-right:10px" type="button" class="btn btn-primary" [disabled]="saving" (click)="save(modifyNameForm)">Save</button>
    <button type="button" (click)="cancel()" class="btn btn-warning" [disabled]="saving" trns>Cancel</button>
    <button type="button" (click)="deleteName()" class="btn btn-danger" [disabled]="saving">Delete Account</button>
  </div>


</form>



