/*@use '@angular/material' as mat;

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap')*/ /*;

@include mat.core();
//mat.$indigo-palette
$my-custom-primary: ( 50:#26375B, 100:#26375B, 200:#26375B, 300:#26375B, 400:#26375B, 500:#26375B, 600:#26375B, 700:#26375B, 800:#26375B, 900:#26375B, A100:#26375B, A200:#26375B, A400:#26375B, A700:#26375B, contrast:( 50:black, 100:black, 200:black, 300:black, 400:black, 500:white, 600:white, 700:white, 800:white, 900:white, A100:black, A200:black, A400:black, A700:black, ), );
$my-custom-accent: ( 50:#797979, 100:#797979, 200:#797979, 300:#797979, 400:#26a69a, 500:#797979, 600:#00897b, 700:#00796b, 800:#00695c, 900:#004d40, A100:#a7ffeb, A200:#64ffda, A400:#1de9b6, A700:#00bfa5, contrast:( 50:black, 100:black, 200:black, 300:black, 400:black, 500:white, 600:white, 700:white, 800:white, 900:white, A100:black, A200:black, A400:black, A700:black, ), );*/
/*$my-app-primary: mat.define-palette($my-custom-primary);*/
/*$my-app-accent: mat.define-palette($my-custom-accent);

$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(( color: ( primary: $my-app-primary, accent: $my-app-accent, warn: $my-app-warn, ) ));

@include mat.all-component-themes($my-app-theme);*/
/*body {
  height: 100%;
}*/
/*body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}*/
/*/ Handle buttons appropriately, with respect to line-height*/
/*.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';

  .mat-badge-content {
    font-family: 'Roboto';
  }
}

.mat-tab-label-container {
  border: 1px solid #ccc;
  background-color: #f1f1f1 !important;
  margin-bottom: 10px !important;
}

.matfontsize {
  font-size: medium;
}

.mat-tab-header, .mat-tab-nav-bar {
  border: 0px !important
}

.countDown .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: yellow !important;
}*/
